body {
/* color gradient */
/* background-image: linear-gradient(to bottom, #bd198c, #e02469, #ee4d46, #e87823, #d49f01, #b0b41c, #86c447, #4fd075, #00cda1, #00c8c5, #00bfdd, #00b3e6); */
background-image: url(./6464940-35a.png);

/* Background image is centered vertically and horizontally at all times */
background-position: center center;

/* Background image doesn't tile */
background-repeat: no-repeat;

/* Background image is fixed in the viewport so that it doesn't move when 
   the content's height is greater than the image's height */
background-attachment: fixed;

/* This is what makes the background image rescale based
   on the container's size */
background-size: cover;

/* Set a background color that will be displayed
   while the background image is loading */
background-color: white;

}

@media only screen and (max-width: 1024px) {
   body {
     background: none;
    }
}

input {
   box-shadow: 5px 5px lightgrey;
}

#inputState {
   box-shadow: 5px 5px lightgrey;
}

#inputOrganization {
   box-shadow: 5px 5px lightgrey;
}

#inputCategory {
   box-shadow: 5px 5px lightgrey;
   text-align: center;
}

.table {
   background-color: #faf5a6;
   border-radius: 10px; 
}

.externalLink {
   color: #0000FF !important;
   text-decoration: underline;
}

button {
   border-radius: 10px !important;
   font-weight: bold !important;
}

.customBtn {
   width: 220px !important;
}

#favbutton {
   background-color: #f5941c !important;
   opacity: 65%;
}

#donbutton {
   background-color: #a6cc38 !important;
   border-radius: 10px !important;
   font-weight: bold !important;
   display: inline-block;
   margin-right: 6px;
   /* opacity: 75%; */
}

#volbutton {
   border-radius: 10px !important;
   font-weight: bold !important;
   background-color: #00b3e6 !important;
   /* opacity: 85%; */
   /* font: bold !important; */
}

#delfavbutton {
   background-color: #eb008b !important;
   opacity: 65%;
}

#logo {
   border-radius: 5px;
   border: 1px solid black;
   margin-top: 10px;
   
}

@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;1,400&display=swap');

#dashtitle {
   font-family: 'Proza Libre', sans-serif;
   /* background-color: #a6cc38; */
   border-radius: 5px;
   text-align: center;
   margin: 10px 10px 10px 10px;
   color: #029A30;
   font-weight: bold;
}

h2 {
   font-family: 'Proza Libre', sans-serif;
}

#parafont {
   font-family: 'Proza Libre', sans-serif;
   font-size: larger;
}

p {
   font-family: 'Proza Libre', sans-serif;
   font-size: larger;
}

label {
   font-family: 'Proza Libre', sans-serif;
   font-size: larger;
   /* background-color: #a6cc38; */
   /* margin-right: 125px; */
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   color: #029A30;
   font-weight: bold;
}

#select {
   font-family: 'Proza Libre', sans-serif;
   /* background-color: #a6cc38; */
   border-radius: 5px;
   text-align: center;
   margin: 10px 10px 10px 10px;
   color: #029A30;
   font-weight: bold;
}

#usebtns {
   /* background-color: #a6cc38; */
   /* margin-right: 300px; */
   padding-left: 15px;
   border-radius: 5px;
   color: #029A30;
   font-weight: bold;
}

#volform {
   /* background-color: #a6cc38; */
   /* margin-right: 812px; */
   padding-left: 15px;
   border-radius: 5px;
   color: #029A30;
   font-weight: bold;
}

#selectdonate {
   /* background-color: #a6cc38; */
   /* margin-right: 465px; */
   border-radius: 5px;
   color: #029A30;
   font-weight: bold;
   
}

#donatetitle {
   font-family: 'Proza Libre', sans-serif;
   /* background-color: #a6cc38; */
   border-radius: 5px;
   margin: 10px 0px 10px 0px;
   color: #029A30;
   font-weight: bold;
}

#calendar {
   background-color: #f5941c;
   padding-bottom: 25px;
   border-radius: 5px;
}

#favtitle {
   font-family: 'Proza Libre', sans-serif;
   /* background-color: #a6cc38; */
   border-radius: 5px;
   margin: 10px 0px 10px 0px;
   color: #029A30;
   font-weight: bold;
}

#favpage {
   /* background-color: #a6cc38; */
   /* margin-right: 375px; */
   padding-left: 5px;
   border-radius: 5px;
   color: #029A30;
   font-weight: bold;
}

#histitle {
   font-family: 'Proza Libre', sans-serif;
   /* background-color: #a6cc38; */
   /* margin-right: 900px; */
   padding-left: 15px;
   border-radius: 5px;
   color: #029A30;
   font-weight: bold;
}

#hispage {
   /* background-color: #a6cc38; */
   /* margin-right: 375px; */
   padding-left: 15px;
   border-radius: 5px;
   color: #029A30;
   font-weight: bold;
}

#logintitle {
   font-family: 'Proza Libre', sans-serif;
   /* background-color: #a6cc38; */
   border-radius: 5px;
   margin: 10px 0px 10px 0px;
   color: #029A30;
   font-weight: bold;
}

#hometitle {
   font-family: 'Proza Libre', sans-serif;
   /* background-color: #a6cc38; */
   /* margin-right: 700px; */
   padding-left: 15px;
   border-radius: 5px;
   color: #029A30;
   font-weight: bold;
}

#homepage {
   /* background-color: #a6cc38; */
   /* margin-right: 635px; */
   padding-left: 15px;
   border-radius: 5px;
   color: #029A30;
   font-weight: bold;
}

.nav-link {
   font-family: 'Proza Libre', sans-serif;
   font-weight: bold;
   margin-top: 30px;
   color: #00b3e6;
}

