body {
/* color gradient */
/* background-image: linear-gradient(to bottom, #bd198c, #e02469, #ee4d46, #e87823, #d49f01, #b0b41c, #86c447, #4fd075, #00cda1, #00c8c5, #00bfdd, #00b3e6); */
background-image: url(./6464940e.png);

/* Background image is centered vertically and horizontally at all times */
background-position: center center;

/* Background image doesn't tile */
background-repeat: no-repeat;

/* Background image is fixed in the viewport so that it doesn't move when 
   the content's height is greater than the image's height */
background-attachment: fixed;

/* This is what makes the background image rescale based
   on the container's size */
background-size: cover;

/* Set a background color that will be displayed
   while the background image is loading */
background-color: white;

}

.table {
   background-color: #faf5a6;   
}

.externalLink {
   color: #0000FF !important;
   text-decoration: underline;
}
