/* background image */
body {
background-image: url(./6464940-35f.png);

/* Background image is centered vertically and horizontally at all times */
background-position: center center;

/* Background image doesn't tile */
background-repeat: no-repeat;

/* Background image is fixed in the viewport so that it doesn't move when 
   the content's height is greater than the image's height */
background-attachment: fixed;

/* This is what makes the background image rescale based
   on the container's size */
background-size: cover;

/* Set a background color that will be displayed
   while the background image is loading */
background-color: white;
}

/* no background image on small screens */
@media only screen and (max-width: 1024px) {
   body {
     background: none;
    }
}

/* adds shadow to inputs */
input {
   box-shadow: 5px 5px lightgrey;
}

#inputState {
   box-shadow: 5px 5px lightgrey;
}

#inputOrganization {
   box-shadow: 5px 5px lightgrey;
}

/* centers input category on dashboard */
#inputCategory {
   box-shadow: 5px 5px lightgrey;
   text-align: center;
}

/* formats table on dashboard and favorites pages */
.table {
   background-color: #faf5a6;
   border-radius: 10px; 
}

/* formats logo image for non-profits on dashboard and favorites pages */
#logo {
   border-radius: 5px;
   border: 1px solid black;
   margin-top: 10px;
   
}

/* formats donation table on history page */
#donhistable {
   background-color: #fbd4a4;
}
 
/* formats volunteer table on history page */
#volhistable {
   background-color: #b2e8f7;
}

.externalLink {
   color: #0000FF !important;
   text-decoration: underline;
}

/* button formatting */
button {
   border-radius: 10px !important;
   font-weight: bold !important;
}

.customBtn {
   width: 220px !important;
}

#favbutton {
   background-color: #f5941c !important;
   opacity: 65%;
}

#donbutton {
   background-color: #a6cc38 !important;
   border-radius: 10px !important;
   font-weight: bold !important;
   display: inline-block; 
   margin: 5px;
   /* opacity: 75%; */
}

#volbutton {
   border-radius: 10px !important;
   font-weight: bold !important;
   background-color: #00b3e6 !important;
   display: inline-block; 
   margin: 5px;
   /* opacity: 85%; */
   /* font: bold !important; */
}

#delfavbutton {
   background-color: #eb008b !important;
   border-radius: 10px !important;
   font-weight: bold !important;
   opacity: 65%;
}

/* imports font */
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;1,400&display=swap');

/* formats title for dashboard */
#dashtitle {
   font-family: 'Proza Libre', sans-serif;
   /* background-color: #a6cc38; */
   border-radius: 5px;
   text-align: center;
   margin: 10px 10px 10px 10px;
   color: #a6cc38;
   font-weight: bold;
}

/* formats subtitle for dashboard */ 
#dashparagraph {
   color: #2b5ea3;
   font-weight: bold;
   text-align: center;
}

/* formats instructions for user on dashboard */
#instructions {
   font-family: 'Proza Libre', sans-serif;
   border-radius: 5px;
   text-align: center;
   margin: 10px 10px 10px 10px;
   color: #2b5ea3;
   font-weight: bold;
}

/* titles for organizations in dashboard and favorites tables */
h2 {
   font-family: 'Proza Libre', sans-serif;
}

#parafont {
   font-family: 'Proza Libre', sans-serif;
   font-size: larger;
}

/* formats text for all paragraphs*/
p {
   font-family: 'Proza Libre', sans-serif;
   font-size: larger;
}

/* formats text for labels */
label {
   font-family: 'Proza Libre', sans-serif;
   font-size: larger;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   color: #029A30;
   font-weight: bold;
}

/* formats text for select component */
#select {
   font-family: 'Proza Libre', sans-serif;
   border-radius: 5px;
   text-align: center;
   margin: 10px 10px 10px 10px;
   color: #029A30;
   font-weight: bold;
}

#usebtns {
   padding-left: 15px;
   border-radius: 5px;
   color: #029A30;
   font-weight: bold;
}

/* formats title for volunteer form */
#volform {
   border-radius: 5px;
   color: #a6cc38;
   font-weight: bold;
   text-decoration: underline;
}

/*formats subtitle for volunteer form */ 
#volparagraph {
   color: #2b5ea3;
   font-weight: bold;
}

/* calendar formatting on volunteer page */
#calendar {
   background-color: #f5941c;
   padding-bottom: 25px;
   border-radius: 5px;
}

/* formats text for donation form title */
#donatetitle {
   font-family: 'Proza Libre', sans-serif;
   border-radius: 5px;
   margin: 10px 0px 10px 0px;
   color: #a6cc38;
   font-weight: bold;
   text-decoration: underline;
}

/* formats subtitle on donation form */
#selectdonate {
   border-radius: 5px;
   color: #2b5ea3;
   font-weight: bold;
}

/* formats text for Favorites title */
#favtitle {
   font-family: 'Proza Libre', sans-serif;
   border-radius: 5px;
   margin: 10px 0px 10px 0px;
   color: #a6cc38;;
   font-weight: bold;
   text-decoration: underline;
}

/* formats subtitle for favorites page */
#favpage {
   padding-left: 5px;
   border-radius: 5px;
   color: #2b5ea3;
   font-weight: bold;
}

/* formats text for history title */
#histitle {
   font-family: 'Proza Libre', sans-serif;
   border-radius: 5px;
   color: #a6cc38;
   font-weight: bold;
   text-decoration: underline;
   
}

/* formats subtitle for history page */
#hispage {
   border-radius: 5px;
   color: #2b5ea3;
   font-weight: bold;
}

/* formats title for donation table on history page */
#donhistory {
   font-family: 'Proza Libre', sans-serif;
   color: #f5941c;
   font-weight: bold;
}

/* formats title for volunteer table on history page */
#volhistory {
   font-family: 'Proza Libre', sans-serif;
   color: #00b3e6;
   font-weight: bold;
}

/* formats title for login page */
#logintitle {
   font-family: 'Proza Libre', sans-serif;
   border-radius: 5px;
   margin: 10px 0px 10px 0px;
   color: #a6cc38;
   font-weight: bold;
   text-decoration: underline;
}

/* formats title on signup page */
#signuptitle {
   font-family: 'Proza Libre', sans-serif;
   border-radius: 5px;
   margin: 10px 0px 10px 0px;
   color: #a6cc38;
   font-weight: bold;
   text-decoration: underline;
}

/* formats subtitle for signup page */
#signuppage {
   border-radius: 5px;
   color: #029A30;
   font-weight: bold;
}

/* formats subtitle for homepage */
#homepage {
   border-radius: 5px;
   font-weight: bold;
   text-align: center;
}

/* formats buttons on homepage */
#homebutton {
   background-color: #029A30;
   border: 1px solid #029A30;
   padding: 10px 10px 10px 10px;
   margin-right: 35px;
}

/* formats navlinks */
.nav-link {
   font-family: 'Proza Libre', sans-serif;
   font-weight: bold;
   margin-top: 35px;
   color: #00b3e6;
}

/* small footer styling */
#footersmall {
   position: absolute;
   bottom: 0;
   width: 100%;
   font-weight: bold;
   color: #029A30;
}



