

/* .pic{
    height: 35px;
    width: 35px;
    border-radius: 25px;
    margin-right: 5px;
    margin-bottom: 5px;
}

h5 {
    font-weight: bold !important; 
}

#color {
    background-color: #00b3e6 !important;
} */



